body {
  background-color: #012634;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  color: white;
  margin-top: auto;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}
.vadholmen {
  width: 800px;
  height: 200px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

li {
  text-align: left;
  color: black;
}

.buti {
  background-color: gray;
  padding: 20px 40px;
}
